<html>
    <head>
         <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
         <script type="text/javascript" src="{{ jsUrl }}"></script>

    </head>
    <body>
        <div id="number_one">Number One Div</div>
        <div id="number_two">Number Two Div</div>
        <div id="number_three">Number Three Div</div>
        <span class="firstClass">Span with a class</span>
    </body>
</html>