<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ cssUrl }}">
    </head>
    <body>
        <div id="number_one">Number One Div</div>
        <div id="number_two">Number Two Div</div>
        <div id="number_three">Number Three Div</div>
    </body>
</html>